@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* TRACK */
    --track-color: #e5e7eb; /* gray-200 */
    --track-spacing: 8px;
    --track-height: 48px;

    /* TRACK GROUP */
    --track-group-color: #f9fafb; /* gray-50 */
    --track-group-spacing: 16px;
}
